<% include ./partials/header.ejs %>
<style>
    body {
        background-color: #4b9dd3;
        font-family: 'Arial';
        padding: 30pt;
    }
    a {
        color: #ffffff;
        margin-left: 20pt;
    }
    a:hover{
        color: #12406a;
    }
    th {
        background-color: #12406a;
        color: #ffffff;
        font-size: 20pt;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
    }
    table {
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
    }
    td {
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        background-color: #33363b;
        color: #ffffff;
    }
    input[type="text"] {
        width: 3cm;
    }
    input[type="text"]:hover { 
        border-color: #4b9dd3;
        border-width: 2px;
    }
    input[type="submit"] {
        width: 2cm;
    }
    input[name="completed"]:hover {
        border-color: green;
        border-width: 2px;
    }
    input[name="cancel"]:hover {
        border-color: red;
        border-width: 2px;
    }
</style>
<h1 align="center" style="margin-bottom: 2cm">Daftar Peminta Layanan</h1>
<table class = "table" align="center">
    <tr>
        <th>Mahasiswa</th>
        <th>Psikolog</th>
        <th>Jenis Layanan</th>
        <th>Tanggal</th>
        <th>Action</th>
    </tr>
    <% requests.forEach(function (req){ %>
    <tr>
        <td>
            <%=req.student%>
        </td>
        <td>
            <%=req.psychologist%>
        </td>
        <td>
            <%=req.type%>
        </td>
        <td>
            <%=moment(req.date).format("DD/MM/YYYY, HH:mm")%>
        </td>
        <td>
            <form action="/schedule/sessionhistory" method="post">
                <row>
                    <div class="form-group">
                        <input type="text" name="rid" value="<%=req._id%>" hidden>
                        <input type="submit" name="completed" value="Completed">
                        <input type="submit" name="cancel" value="Cancel">
                    </div>
                </row>
            </form>
        </td>
    </tr>
    <% }); %>
</table>
<form action="/schedule/sessionhistory" method="get">
    <input type="submit" name="sessionhistory" value="Session History" style="width:100%">
</form>
<form action="/schedule/" method="get">
    <input type="submit" name="schedule" value="Schedule" style="width:100%">
</form>
<form action="/psychologist/logout" method="get">
   <input type="submit" name="logout" value="Log out" style="width:100%">
</form>
<% include ./partials/footer.ejs %>