<% include ./partials/header.ejs %>
<style>
    body {
        background-color: #4b9dd3;
        font-family: 'Arial';
        padding: 30pt;
    }
    a {
        color: #ffffff;
        margin-left: 20pt;
    }
    a:hover{
        color: #12406a;
    }
    th {
        background-color: #12406a;
        color: #ffffff;
        font-size: 20pt;
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
    }
    table {
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
    }
    td {
        border-style: solid;
        border-color: #ffffff;
        border-width: 1px;
        background-color: #33363b;
        color: #ffffff;
    }
    input[type="text"] {
        width: 7cm;
    }
    input[type="text"]:hover { 
        border-color: #4b9dd3;
        border-width: 2px;
    }
    input[type="submit"] {
        width: 2cm;
    }
    input[type="submit"]:hover {
        border-color: #4b9dd3;
        border-width: 2px;
    }
</style>
<h1 align="center" style="margin-bottom: 2cm">Daftar Sesi Layanan</h1>
<table class="table" align="center">
    <tr>
        <th>Mahasiswa</th>
        <th>Psikolog</th>
        <th>Waktu Mulai Sesi</th>
        <th>Waktu Selesai</th>
        <th>Catatan</th>
        <!-- <th>Sesi</th> -->
    </tr>
    <% sessions.forEach(function (session){ %>
    <tr>
        <td>
            <%=session.student%>
        </td>
        <td>
            <%=session.psychologist%>
        </td>
        <td>
            <%=moment(session.startTime).format('MMMM Do YYYY, h:mm a')%>
        </td>
        <td>
            <%=moment(session.endTime).format('MMMM Do YYYY, h:mm a')%>
        </td>
        <td>
            <% if (session.remark == "") { %>
            <form action="/schedule/sessionhistory/<%=session._id%>" method="post">
                <div class='form-group'>
                    <input type='text' name = 'remark' placeholder='isi catatan sesi...'>
                    <input type='submit'>
                </div>
            </form>
            <% } else { %>
            <%=session.remark%>
            <% } %>
        </td>
    </tr>
    <% }) %>
</table>
<form action="/schedule/requests" method="get">
    <input type="submit" name="back" class = "btn btn-warning" value="Back" style="width:100%">
</form>

<% include ./partials/footer.ejs %>